/** @format */

.skills {
  height: 780px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  h2 {
    text-transform: uppercase;
    color: $green;
    font-size: 3.5em;
    margin-bottom: 40px;
  }
  &__bars {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  &__bar {
    display: flex;
    flex-flow: row nowrap;
    margin: 5px;
  }
  &__technology {
    width: 20vh;
    height: 45px;
    background-color: $text-grey;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    p {
      color: $light-grey;
      font-weight: 400;
      font-size: 1.5em;
    }
  }
  &__green {
    /* width: 40vh; */
    height: 45px;
    background-color: $green;
    &.eight {
      width: 64vh;
    }
    &.seven {
      width: 56vh;
    }
    &.six {
      width: 48vh;
    }
    &.five {
      width: 40vh;
    }
  }
}

.skills__grey {
  /* width: 30vh; */
  height: 45px;
  background-color: $light-grey;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  &.eight {
	width: 16vh;
  }
  &.seven {
	width: 24vh;
  }
  &.six {
	width: 32vh;
  }
  &.five {
	width: 40vh;
  }
}

.skills__grey p {
  color: rgb(163, 163, 163);
  font-size: 1.2em;
  margin-right: 20px;
}
