/** @format */

.slogan {
	background-color: $light-grey;
	height: 200px;
	z-index: 5;
	@media screen and (max-width: 768px) {
		min-height: 17rem;
	}
	p {
		color: $text-grey;
		font-size: 1.5em;
		font-weight: 400;
		line-height: 1.5;
		padding: 60px;
		text-align: center;
		@media screen and (max-width: 768px) {
			font-size: 1.2rem;
			line-height: normal;
		}
	}
	.slogan--strong {
		font-weight: 700;
	}
}
