/** @format */

.slogan {
	height: 200px;
	z-index: 5;
	background-color: var(--light-grey);
}
.slogan p {
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	color: var(--text-grey);
	padding: 60px;
}
.slogan .slogan--strong {
	font-weight: 700;
}
