/** @format */

.slogan {
	background-color: $light-grey;
	height: 200px;
	z-index: 5;
	p {
		color: $text-grey;
		font-size: 1.5em;
		font-weight: 400;
		line-height: 1.5;
		padding: 60px;
		text-align: center;
	}
	.slogan--strong {
		font-weight: 700;
	}
}
