/** @format */

.socials {
  height: 340px;
  background-color: $dark-grey;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  &__logos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    svg {
      fill: $white;
      margin: 10px 50px;

      &:hover {
        fill: $green;
      }
    }
  }

  h2 {
    color: $white;
    font-weight: 700;
    font-size: 1.9em;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
}
