/**
 * Colors
 *
 * @format
 */

$green: #54be90;
$white: #ffffff;
$light-grey: #ebebeb;
$text-grey: #444444;
$dark-grey: #232323;
/* Fonts */
$font: "Alegreya Sans", sans-serif;
$font-weight300: 300;
$font-weight700: 700;
